# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
PassWordManager/.idea/workspace.xml
*.pyc
*.txt
WebRobot/tutorial/.idea/tutorial.iml
*.name
*.json
WebRobot/.idea/WebRobot.iml
WebRobot/DoubanSpider/.idea/DoubanSpider.iml
*.iml
WebRobot/tutorial/Books
WebRobot/tutorial/intro
WebRobot/tutorial/Resources
